<div class="row">
  <% @output.each do |show|%>
  <%= link_to show_path(show['show']['id']) do %>
    <div class="card col-4" style="width: 18rem;">
    <img class="card-img-top" src="<%= show['show']['image']['original'] %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= show['show']['name'] %></h5>
        <h6 class="text-sm">Language:<%= show['show']['language'] %><h6>
        <% end %>
      </div>
    </div>
    <%end %>
</div>