<h1>Search your favorite show!</h1>



<%= form_tag search_path, remote: true, method: :get do %>
<div class="input-group">
    <%= text_field_tag :search, params[:search], placeholder:"Search Shows", autofocus: true, class: "form-control"%>
    <div class="input-group-append">
      <%= button_tag type: :submit, class:"btn btn-primary" do %>
        <i class="fa fa-search"></i>
      <% end %>
    </div>
  </div><br>
<% end %>
<div id="result">
</div>
<%= @yts %>